<section class="card m-3 p-2">
    <div class="row">
    <h2 class=" card-title m-2 col"> Sobre mi </h2> 
    
    
     <p class="card-text m-2"> {{acercade.texto}} </p> 
  
     <button class="bi bi-pencil-square" viewbox="0 0 16 16" (click)="editarTexto()"> 
     </button> 

        <div class="card-mt4" *ngIf="FormVisibilty">
        <div class="card-body">
            <div class="card-title">
              Editar texto
            </div>
            <form (ngSubmit)="onSubmit(acercade)">
              <div class="form-group">
                <input type="text"
                [(ngModel)]="acercade.texto"
                name="texto"
                placeholder="Editar texto"
                class="form-control">
              </div>
              <button type="submit" class="btn btn-primary mt-2">
                Guardar
              </button>
            </form>
          </div>
    </div>     
  </div>
    </section>
        
         
    