<section class="card m-3 p-2">
  <div class="row">
    <h2 class=" card-title m-2 col"> Sobre mi </h2>
  </div>
   
   <div class="container-fluid p-2" *ngFor="let AcercaDe of acercade">
    <p>{{AcercaDe.acercade}}</p>


   <button class="bi-pencil-square" (click)="editarTexto()"> </button>

    <div class="card-mt4" *ngIf="FormVisibilty">
      <div class="card-body">
        <div class="card-title">
          Editar texto
        </div>
        <form (ngSubmit)="onSubmit(AcercaDe)">
          <div class="form-group">
            <input type="text" [(ngModel)]="AcercaDe.acercade" name="texto" placeholder="Editar texto"
              class="form-control">
          </div>
          <button type="submit" class="btn btn-primary mt-2">
            Guardar
          </button>
        </form>
      </div>

    </div>
  </div>
</section>