<section class="card mat-card">
  <h2> Sobre mi </h2>
  
  <button mat-button color="basic" (click)="editarTexto()" id="botonEdit" *ngIf="usuarioAdmin"> 
    <mat-icon> edit </mat-icon>
  </button> 

   <div *ngFor="let AcercaDe of acercade">
    <p id="texto">{{AcercaDe.acercade}}</p>


    <div *ngIf="FormVisibilty">
      <div class="card-body">
        <div class="card-title">
          Editar texto
        </div>
        <form (ngSubmit)="onSubmit(AcercaDe)">
       
         
   <div class="form-group">
           <input type="text" [(ngModel)]="AcercaDe.acercade" name="texto" placeholder="Editar texto"
              class="form-control">
         
              <button type="submit" class="btn btn-primary mt-2">
            Guardar
          </button>
          <button type="close" class="btn btn-primary mt-2">Cerrar </button>
         
        </div>



        </form>
      </div>

    </div>
  </div>
</section>